.ordersContainer {
  max-width: 950px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  padding: 10px 0;
}
.orderListContainer {
  min-width: 450px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  flex-direction: column;
  gap: 50px;
}
.orderCard {
  background-color: rgba(255, 160, 122, 0.1);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  border-radius: 10px;
  padding: 10px 0;
  color: dimgray;
}
.orderItemsTable {
  width: 100%;
}
.headRow,
.row {
  display: flex;
  gap: 5px;
  box-sizing: border-box;
  width: 100%;
}
.headRow {
  font-weight: bold;
  font-size: medium;
}
.col,
.colName {
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  min-width: 70px;
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
}
.colName {
  min-width: 200px;
  width: 49%;
}
.colName > p {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
hr {
  margin: 0 2%;
  border: 1px solid dimgray;
}
.orderAmount {
  padding: 10px 20px;
  font-weight: bolder;
  text-align: end;
}
