.heroSidebar {
  display: flex;
  flex: 0.2;
  min-width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
}
.heading {
  margin: 20px 0;
}
.filter {
  width: 100%;
  background-color: rgba(255, 160, 122, 0.1);
  padding: 30px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 375px;
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.label {
  display: flex;
  gap: 10px;
  padding: 5px;
  font-weight: 100;
  font-size: medium;
}
